mat-toolbar {
    .spacer {
        flex: 1 1 auto;
    }
    
    a {
        color: white;
        display: flex;
        text-decoration: none;
        display: flex;
        padding: 0 10px 0 10px;
        height: 100%;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #7b8de5;
        }
    }
    
    mat-icon {
        font-size: 2rem;
    }   
}